.card
  = link_to post, class: 'position-relative' do
    -# - if post.photos.present?
    -#   = cl_image_tag post.photos.first.image.large, class: 'img-fluid card-img-top'
    = cl_image_tag 'http://lorempixel.com/600/400', class: 'img-fluid card-img-top'
    .card-img-overlay.d-flex.align-items-end
      -# .badge.badge-default National Park
      -# %p.mb-0
      -#   %i.fa.fa-heart
      -#   12
  .card-block
    %h3.card-title= link_to post.title, post

    - if post.excerpt.present?
      %p.font-serif= post.excerpt
    - else
      %p.font-serif= post.body.truncate(100)

    = link_to 'Read more', post, class: 'btn btn-secondary'
