.card
  .card-block.p-0
    .media
      = cl_image_tag 'http://lorempixel.com/120/80', class: 'd-flex mr-3 align-self-center rounded-left'
      .media-body.align-self-center
        %h4.mb-1= attraction.name
        .small.text-muted 2 hours

      .d-flex.align-self-center.mr-3
        = link_to '#', class: 'btn btn-outline-secondary mr-2' do
          %i.fa.fa-align-justify
        = link_to 'view', attraction_path(attraction), class: 'btn btn-outline-secondary mr-2'
        = link_to '#', class: 'btn btn-outline-secondary' do
          %i.fa.fa-times
