= simple_form_for [:admin, destination] do |f|
  = f.error_notification
  .row
    .col-sm-12
      = f.input :name, label: false, input_html: {class: 'form-control-lg'}


      %h6
        = request.base_url + '/destination/'
        %span.d-inline-block= f.input :slug, label: false, input_html: {class: 'form-control-sm', tabindex: '-1'}, wrapper_html: {class: 'mb-0'}
        = link_to 'go', @destination, class: 'btn btn-secondary btn-sm', tabindex: '-1'

      %hr

      .row
        .col-sm-8
          = f.input :city
        .col-sm-4
          = f.input :state, collection: usa_states_array

      %hr

      .row
        - if @destination.photos.present?
          - @destination.photos.each do |photo|
            .col-sm-4.col-lg-2
              = image_tag photo.image.medium, data: {image_id: photo.id}, class: 'img-fluid'
        .col-sm-4.col-lg-2
          .card
            .card-block
              %button.btn.btn-primary{'data-target' => '#destinationImageModal', 'data-toggle' => 'modal', :type => 'button'}
                Add images




      #destinationImageModal.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'destinationImageModalLabel', role: 'dialog', tabindex: '-1'}
        .modal-dialog.modal-lg{role: 'document'}
          .modal-content
            .modal-header
              %h5#destinationImageModalLabel.modal-title Modal title
              %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
                %span{'aria-hidden' => 'true'} &times;
            .modal-body
              #photo-checkboxes
                = f.association :photos, as: :check_boxes, wrapper_html: {class: 'row'}, item_wrapper_class: 'col-sm-3', label: false, label_method: lambda { |photo| "<div class='photo-wrapper'>#{image_tag photo.image.medium, class: 'img-fluid'}</div>".html_safe }
            .modal-footer
              %button.btn.btn-secondary{'data-dismiss' => 'modal', type: 'button'} Select images



      = f.trix_editor :about, class: 'form-control'

      %hr

      = f.input :excerpt, input_html: {maxlength: 120}

      %h3 Attractions
      - if destination.attractions.present?
        %ul
          - destination.attractions.each do |attraction|
            %li= attraction.name
      - else
        Add some attractions!

      %hr

      = f.button :submit, class: 'btn-primary'
