= simple_form_for [:admin, destination] do |f|
  = f.error_notification
  .row
    .col-sm-12
      = f.input :name, label: false, input_html: {class: 'form-control-lg'}


      %h6
        = request.base_url + '/destination/'
        %span.d-inline-block= f.input :slug, label: false, input_html: {class: 'form-control-sm'}, wrapper_html: {class: 'mb-0'}
        = link_to 'go', @destination, class: 'btn btn-secondary btn-sm'

      %hr

      .row
        .col-sm-8
          = f.input :city
        .col-sm-4
          = f.input :state

      %hr

      = f.trix_editor :about, class: 'form-control'

      %hr

      = f.input :excerpt


      -# = f.input :status
      -# = f.input :featured
      -# = f.input :publish_date

      = f.button :submit, class: 'btn-primary'
