= render 'admin/components/page_header'

- if @destinations.present?
  .mt-5
    = render partial: 'components/search', locals: {search_url: admin_destinations_path, search_params: :name_cont, search_placeholder: 'Search destinations...'}

  %table.table.mt-5
    %thead.thead-default
      %tr
        %th
        %th Name
        %th something
    %tbody
      - @destinations.each do |destination|
        %tr
          %td
            = link_to edit_admin_destination_path(destination.id) do
              = image_tag destination.photos.first.image.thumb if destination.photos.present?
          %td
            = link_to edit_admin_destination_path(destination.id) do
              = destination.name
          %td= link_to 'Edit', edit_admin_destination_path(destination.id)

  = paginate @destinations

- else
  .row.justify-content-center.mt-5
    .col-md-8.col-lg-6
      .card
        .card-block.text-center
          %h3 No destinations, yet.
          = link_to new_admin_destination_path, class: 'btn btn-primary btn-lg mt-3' do
            %i.fa.fa-plus
            New Destination
