%h1
  Destinations
  = link_to 'New Destination', new_admin_destination_path, class: 'btn btn-primary'

= render partial: 'components/search', locals: {search_url: admin_destinations_path, search_params: :name_cont, search_placeholder: 'Search destinations...'}

%table.table
  %thead.thead-default
    %tr
      %th
      %th Name
      %th something
  %tbody
    - if @destinations.present?
      - @destinations.each do |destination|
        %tr
          %td
            = link_to edit_admin_destination_path(destination.id) do
              = image_tag destination.photos.first.image.thumb if destination.photos.present?
          %td
            = link_to edit_admin_destination_path(destination.id) do
              = destination.name
          %td= link_to 'Edit', edit_admin_destination_path(destination.id)

= paginate @destinations
