= simple_form_for [:admin, @photo] do |f|
  = f.error_notification
  .row
    .col-sm-12
      - if @photo.image.present?
        .foo
          = cl_image_tag @photo.image.large
        -# = link_to 'go away', '#', class: 'btn btn-primary', id: 'goaway', remote: true

      = render partial: 'photo_uploader', locals: {f: f}
      = f.input :name
      = f.input :description
      = f.button :submit, class: 'btn-primary'
