= render 'admin/components/page_header'

- if @attractions.present?
  = render partial: 'components/search', locals: {search_url: admin_attractions_path, search_params: :name_cont, search_placeholder: 'Search attractions...'}
  %table.table
    %thead.thead-default
      %tr
        %th
        %th Name
        %th Destination
        %th Actions
    %tbody
      - @attractions.each do |attraction|
        %tr
          %td= cl_image_tag 'http://lorempixel.com/60/40', class: 'img-fluid'
          %td= link_to attraction.name, edit_admin_attraction_path(attraction.id)
          %td= attraction.destination.name
          %td
            show
            edit
            delete

  = paginate @attractions

- else
  .card
    .card-block
      No attractions, yet.
      = link_to 'New Attraction', new_admin_attraction_path, class: 'btn btn-primary'
