= simple_form_for planner do |f|
  = f.error_notification
  .row
    .col-sm-4.col-xl-3.offset-xl-1
      = render partial: 'components/search', locals: {search_url: destinations_path, search_params: :name_cont, search_placeholder: 'Search destinations...'}
      %p switch to a different destination
      = render partial: 'components/search', locals: {search_url: attractions_path, search_params: :name_cont, search_placeholder: 'Search attractions...'}

      // bring back later
      -# = render partial: 'components/attraction_mini_card'

    .col-sm-8.col-xl-7
      = f.input :name, input_html: {class: 'form-control-lg'}
      .row
        .col-6
          = f.input :start_date, as: :datepicker, input_html: {class: 'form-control'}
        .col-6
          = f.input :end_date, as: :datepicker, input_html: {class: 'form-control'}

      #sortable.accordion-plan{'aria-multiselectable' => 'true', :role => 'tablist'}
        - @plan = Planner.includes(:stops).find(params[:id])
        - @plan.stops.group_by{ |stop| stop.date}.each_with_index do |(date, stops), index|
          .card.mt-2
            - index = index.to_s
            .card-header{role: 'tab', id: "heading-#{index}"}
              %h5.mb-0
                = link_to "#collapse-#{index}", {'aria-controls' => "collapse-#{index}", 'aria-expanded' => 'true', 'data-toggle' => 'collapse'} do
                  = date.inspect
            .collapse.show{'aria-labelledby' => "heading-#{index}", :role => 'tabpanel', id: "collapse-#{index}"}
              .card-block
                .blarg
                  - stops.each do |stop|
                    = render partial: 'components/attraction_mini_card', locals: {stop: stop}


      = f.button :submit, class: 'btn-primary'
