.container
  = simple_form_for(@planner) do |f|
    = f.error_notification
    .row
      .col-sm-12
        = f.input :name
        .row
          .col-sm-6
            = f.input :start_date
          .col-sm-6
            = f.input :end_date


        .card
          .card-block
            img
            akjladfl

        = f.button :submit, class: 'btn-primary'
