.jumbotron.jumbotron-fluid.bg-inverse
  .container
    %h1.font-weight-bold.text-center
      %span.text-primary Bestination
      %span.text-white helps you plan your trip.

    .mt-4
      = render partial: 'components/search', locals: {search_url: destinations_path, search_params: :name_cont, search_placeholder: 'Where are you going?'}

    -# = simple_form_for :thing do |f|
    -#   = f.input :boo, placeholder: 'Where are you going?', label: false, input_html: {class: 'form-control-lg mt-5'}
    -#   -# = f.submit 'Search', class: 'btn btn-primary'

.container-fluid
  - if @destinations.present?
    .row
      .col-xl-10.offset-xl-1.col-xxl-8.offset-xxl-2
        .row
          .col.d-flex.justify-content-between.align-items-center
            %h1.font-weight-bold Top Destinations
            = link_to 'See all destinations', destinations_path
        .row
          - @popular_destinations.each do |destination|
            = render partial: 'components/destination_card', locals: {destination: destination}

  - if @posts.present?
    .row.mt-5
      .col-xl-10.offset-xl-1.col-xxl-8.offset-xxl-2
        .row
          .col-md-6
            .list-group
              .list-group-item
                %h5.mb-0.text-uppercase Recent Posts
              - @posts.each do |post|
                = render partial: 'components/post_list_item', locals: {post: post}
              = link_to 'See all posts', posts_path, class: 'list-group-item d-flex justify-content-center text-uppercase'

          - if @featured_post.present?
            .col-md-6
              = render partial: 'components/post_card', locals: {post: @featured_post}
