= link_to 'Back', posts_path


.container
  %h1= @post.title
  .font-serif
    = @post.body.html_safe

  .card
    .card-block
      .row
        .col-sm-6
          = cl_image_tag 'http://lorempixel.com/30/30'
          author name
          |||
          = @post.publish_date
        .col-sm-6
          .text-md-right
            .dropdown
              %button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                share
              .dropdown-menu
                = link_to 'Facebook', '#', class: 'dropdown-item'

  = link_to 'Edit', edit_post_path(@post)
