.row
  .col-xl-10.offset-xl-1
    .row
      - if @posts.present?
        - @posts.each do |post|
          .col-lg-6
            .card
              .row
                .col-sm-6
                  = link_to post do
                    = image_tag 'http://lorempixel.com/400/400', class: 'img-fluid'
                .col-sm-6.card-block
                  %h3= link_to post.title, post
                  %p= post.publish_date
                  - if post.excerpt.present?
                    = post.excerpt
                  - else
                    = post.body.truncate(100)
                  = link_to 'Read more', post, class: 'btn btn-secondary'
      - else
        Add some posts!

%br
%br
%br
%br
= link_to 'New Post', new_post_path
