= simple_form_for(@destination) do |f|
  = f.error_notification
  .row
    .col-md-9
      = f.input :name
      website url:
      = f.input :slug
      = link_to 'go to page', '#', class: 'btn btn-secondary'

      = f.input :city
      = f.input :state
      = f.trix_editor :about

      %hr

      = f.input :excerpt


    .col-md-3
      -# = f.input :status
      -# = f.input :featured
      -# = f.input :publish_date

      = f.button :submit, class: 'btn-primary'
