.container-fluid
  .row
    .col-xl-10.offset-xl-1
      order
      most popular
      alphabetic
      .row
        - if @destinations.present?
          - @destinations.each_with_index do |destination, index|
            - if index < 1
              .col-sm-12
                .card
                  = link_to destination do
                    -# = image_tag Photo.first.image.jumbo, class: 'img-fluid'
                  .card-img-overlay
                    %h4.card-title Card title
                    %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    %p.card-text
                      %small.text-muted Last updated 3 mins ago

                  -# .card-block
                  -#   %h3= link_to destination.name, destination
                  -#   %h5 #{destination.city + ',' if destination.city.present?} #{destination.state}
                  -#   .badge.badge-default National Park
                  -#   stars
                  -#   stars number

                  -#   - if destination.excerpt.present?
                  -#     %p.font-serif= destination.excerpt
                  -#   - else
                  -#     %p.font-serif= destination.about.truncate(100)

                  -#   - if destination.attractions.present?
                  -#     %h6 Top places
                  -#     %p
                  -#       - destination.attractions.each do |attraction|
                  -#         #{attraction.name},

                  -#   = link_to 'Read more', destination, class: 'btn btn-secondary'
            - else
              = render partial: 'components/destination_card', locals: {destination: destination}

  = link_to 'more', '#', class: 'btn btn-primary'

  %br
  %br
  %br
  %br
  = link_to 'New Destination', new_destination_path
