.row
  .col-xl-10.offset-xl-1
    .row
      - if @destinations.present?
        - @destinations.each do |destination|
          .col-lg-6
            .card
              .row
                .col-sm-6
                  = link_to destination do
                    = image_tag 'http://lorempixel.com/400/400', class: 'img-fluid'
                .col-sm-6.card-block
                  %h3= link_to destination.name, destination
                  - if destination.excerpt.present?
                    = destination.excerpt
                  - else
                    = destination.body.truncate(100)
                  = link_to 'Read more', destination, class: 'btn btn-secondary'
      - else
        Add some destinations!

%br
%br
%br
%br
= link_to 'New Destination', new_destination_path
