= render 'components/destination_images_modal'

.jumbotron.jumbotron-fluid.jumbotron-tall.cover.d-flex.align-items-end.with-overlay.m-0{style: "background-image: url(#{cl_image_path @destination.photos.first.image.jumbo})"}
  .container
    .row
      .col.d-lg-flex.justify-content-lg-between.align-items-center
        %div
          %h1.display-1.jumbotron-text= @destination.name
          %h2.jumbotron-text
            -# = @destination.city unless @destination.name === @destination.city
            %em #{@destination.city}, #{@destination.state}

        - if @destination.photos.count > 1
          %button.btn.btn-secondary.jumbotron-btn{"data-target" => "#destinationImagesModal", "data-toggle" => "modal", :type => "button"}
            View images




#destinationStickyNav.bg-faded.sticky-top
  .container
    .row
      .col
        %ul.nav.nav-pills
          %li.nav-item
            = link_to 'About', '#about', class: 'nav-link'
          %li.nav-item
            = link_to 'Attractions', '#attractions', class: 'nav-link'
          %li.nav-item
            = link_to 'Reviews', '#reviews', class: 'nav-link'
          %li.nav-item
            = link_to 'Guides', '#guides', class: 'nav-link'
        -# = link_to 'someting', '#', class: 'btn btn-primary'

.container
  .row
    .col-sm-12
      %section#about.mt-5
        %h2 About
        .font-serif.longform
          - if @destination.about.length > 500
            = truncate(@destination.about, length: 500, escape: false)
            = link_to '#', class: "read-more-#{@destination.id} btn btn-outline-primary" do
              %i.fa.fa-plus
              More
            :javascript
              $('.read-more-#{@destination.id}').on('click', function(e) {
                e.preventDefault()
                $(this).parent().html('#{escape_javascript @destination.about}')
              })
          - else
            = @destination.about






      %section#attractions.mt-5
        %h2 Top Attractions
        = link_to 'show all', attractions_path(q: {destination_id_eq: @destination.id})
        %li parks
        %li restaurants
        %li something
        .row
          = render partial: 'components/attraction_mini_card', collection: @attractions, as: :attraction



        - if @destinations_in_state.present?
          %section.mt-5
            %h2#other Other destinations in #{@destination.state}

            .row
              - @destinations_in_state.each do |destination|
                = render partial: 'components/destination_card', locals: {destination: destination}



            - if @destinations_in_state.count > 12
              = link_to 'See all', '#', class: 'btn btn-outline-primary'


      %section.mt-5
        %h2#reviews Reviews


      %section.mt-5
        %h2#guides Guides

    .col-sm-4
      // Make sure to take out data-ad-test for prod!
      -# %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
      -#   / Testing
      -#   %ins.adsbygoogle{"data-ad-test" => "on", "data-ad-client" => "ca-pub-1968386566745891", "data-ad-format" => "auto", "data-ad-slot" => "6955528863", :style => "display:block"}
      -#   :javascript
      -#     (adsbygoogle = window.adsbygoogle || []).push({});



  = link_to 'Edit', edit_admin_destination_path(@destination)
