-# = link_to 'Back', destinations_path

.blah
  - if @destination.photos.count > 1
    #carouselExampleSlidesOnly.carousel.slide{"data-ride" => "carousel"}
      %ol.carousel-indicators
        - @destination.photos.each_with_index do |dp, index|
          %li{"data-slide-to" => index, "data-target" => "#carouselExampleSlidesOnly"}

      .carousel-inner{:role => "listbox"}
        - @destination.photos.each do |dp|
          .carousel-item
            = image_tag dp.image.jumbo, class: 'img-fluid'
            .carousel-caption.d-none.d-md-block
              %h3= dp.name
              %p= dp.description

      %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleSlidesOnly", :role => "button"}
        %span.carousel-control-prev-icon{"aria-hidden" => "true"}
        %span.sr-only Previous
      %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleSlidesOnly", :role => "button"}
        %span.carousel-control-next-icon{"aria-hidden" => "true"}
        %span.sr-only Next



  - elsif @destination.photos.count == 1
    = image_tag @destination.photos.first.image.jumbo, class: 'img-fluid'

.container
  .row
    .col-sm-8
      %h1= @destination.name
      .font-serif.longform
        = @destination.about.html_safe

    .col-sm-4
      .card
        %h5.card-header Things to do
        .list-group.list-group-flush
          - @attractions.each do |attraction|
            = link_to attraction_path(attraction), class: 'list-group-item' do
              = attraction.name
        .card-footer
          = link_to 'show all', '#'

  = link_to 'Edit', edit_destination_path(@destination)
