!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}/
    // TODO make this the excerpt if there is one
    %meta{content: "Awesome Description Here", name: "description"}/

    // TODO add page title to this
    %title Bestination
    = csrf_meta_tags
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :integrity => "sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'components/flash_messages'

    %nav.navbar.navbar-toggleable-md.navbar-light.bg-faded.fixed-top
      %button.navbar-toggler.navbar-toggler-right{"data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", type: "button"}
        %span.navbar-toggler-icon
      = link_to 'Bestination', root_path, class: 'navbar-brand'
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li.nav-item
            = active_link_to 'Destinations', destinations_path, class: 'nav-link'
          %li.nav-item
            = active_link_to 'Blog', posts_path, class: 'nav-link'
          %li.nav-item
            - @planner_count = Planner.where(user: current_user).count
            - if @planner_count == 0
              - @plan_path = new_planner_path
            - elsif @planner_count == 1
              - @plan_path = edit_planner_path(1)
            - else
              - @plan_path = planners_path
            = active_link_to 'Planner', @plan_path, class: 'nav-link'

        %ul.navbar-nav
          - if user_signed_in?
            %li.nav-item.dropdown
              %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"}
                = current_user.email
              .dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
                = link_to 'Admin', admin_root_path, class: 'dropdown-item'
                = link_to 'Profile', '#', class: 'dropdown-item'
                = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item'
          - else
            %li.nav-item
              = link_to 'Login', new_user_session_path, class: 'nav-link'

            %li.nav-item
              = link_to 'Register', new_user_registration_path, class: 'nav-link'

    = yield

    %footer.mt-5.pb-5.text-center
      %p.small &copy; 2017 Bestination
